@import url('../blocks/body/body.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/header/__line/header__line.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__add-button/profile__add-button.css');
@import url('../blocks/profile/__add-button/profile__add-button__plus.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__info/__name/profile__info__name.css');
@import url('../blocks/profile/__info/__status/profile__info__status.css');
@import url('../blocks/profile/__info/__edit-button/__button/profile__info__edit-button__button.css');
@import url('../blocks/profile/__info/__edit-button/__picture/profile__info__edit-button__picture.css');
@import url('../blocks/gallery/gallery.css');
@import url('../blocks/gallery/__karachaevsk/gallery__karachaevsk.css');
@import url('../blocks/gallery/__karachaevsk/__photo/gallery__karachaevsk__photo.css');
@import url('../blocks/gallery/__description/gallery__description.css');
@import url('../blocks/gallery/__description/__like/gallery__description__like.css');
@import url('../blocks/gallery/__description/__text/gallery__description__text.css');
@import url('../blocks/gallery/__elbrus/gallery__elbrus.css');
@import url('../blocks/gallery/__elbrus/__photo/gallery__elbrus__photo.css');
@import url('../blocks/gallery/__dombai/gallery__dombai.css');
@import url('../blocks/gallery/__dombai/__photo/gallery__dombai__photo.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/edit-profile/edit-profile.css');
@import url('../blocks/edit-profile/__info/edit-profile__info.css');
@import url('../blocks/edit-profile/__log/edit-profile__log.css');
@import url('../blocks/edit-profile/__save-button/edit-profile__save-button.css');
@import url('../blocks/edit-profile/__title/edit-profile__title.css');
@import url('../blocks/edit-profile/__close-button/edit-profile__close-button.css');